In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
from pandas import ExcelWriter

import numpy as np
import datetime as dt

import re

In [2]:
# name the output file for the tables
tables_out = "/home/gus/MEGAsync/zim/main/Yale/Projects/G_pallidipes/Reports/2015_grant_report/Sampling_Map_and_Tables/Sampling_Tables/crosssectional_tables_draft_2.xls"

table_writer = ExcelWriter(tables_out)

In [3]:
main_table = pd.read_excel('/home/gus/Documents/YalePostDoc/project_stuff/G_pallidipes_kenya/gpd_combined_datatable_refined_2015-09-26_KENYA.xls')

In [4]:
yyyy = re.compile(r'\b[12]\d\d\d\b')
def get_YEAR(x):
    
    unknown = 'Unk.'
    
    if isinstance(x,dt.datetime):
        return x.year
    
    if str(x) == 'nan':
        return unknown
    
    if isinstance(x,(str,unicode)):
        matches = yyyy.findall(x)
        if len(matches) == 0:
            return unknown
        else:
            return int(matches[0])
    else:
        raise ValueError

In [5]:
# recode DATE to be string of year or Unk.

main_table["YEAR"] = main_table.DATE.apply(get_YEAR)
main_table[["YEAR","DATE"]][18:21]

    YEAR                 DATE
18  Unk.                  NaN
19  Unk.                  NaN
20  2003  2003-04-25 00:00:00

In [6]:
# recode SEX so NaN becomes string rather than Not_a_Number object 
# and questioned values like 'M (?)' are explicitly set to UNKNOWN

main_table.SEX = main_table.SEX.apply(lambda x: 'Unk.' if ((str(x) == 'nan') or '?' in x)  else x )
main_table.head(2)

,RECORD_SOURCE,LOCATION_LONG,SITE_GROUP,COUNTRY,TRAP_NUMBER,DATE,SPECIES,SEX,TENERAL,DEAD,FLY_NUMBER,HUNGER_STAGE,WING_FRAY,PROBOSCIS_TRYPS,MIDGUT_TRYPS,SALIVARY_GLAND_TRYPS,KEPT_IN,KEPT_IN_SIMPLE,COMMENT,TUBE_OR_BOX,METHOD_OF_PREPARATION,BOX_NUMBER_ID,SOURCE,LATITUDE,LONGITUDE,ELEVATION,INFECTION,TISSUE,TISSUE_OR_DNA,DERIVATIVE,YEAR
0,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,1,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,DNA,gDNA,Unk.
1,Not Sure,"Nguruman, Kattekani, Kenya",Nguruman,KENYA,NONE,NaN,Gpd,Unk.,NaN,NaN,2,NaN,NaN,NaN,NaN,NONE,NONE,Unk.,NaN,box,NONE,3,-80 Freezer,NONE,NONE,NONE,NONE,NONE,DNA,gDNA,Unk.

In [7]:
# get table of just Gpd flies
gpd = main_table.query("SPECIES == 'Gpd'")

In [8]:
# get Gpd with no question about site_group
gpd_noQ = gpd[gpd.SITE_GROUP.apply(lambda x: True if "?" not in x else False)]
# gpd_noQ.head()

# Kenya overall:

### Remove brian's 2015 data from THIS data and number of SITES that make up SITE_GROUP

In [9]:
kenya_final = gpd_noQ.query(''' YEAR != (2015,'Unk.') ''')

In [28]:
def get_SITE_GROUP_Ns(x, df):
    site_group = """ SITE_GROUP == "{x}" """.format(x=x)
    sites_len = len(kenya_final.query(site_group)['LOCATION_LONG'].unique())
    return """{x} ({sites_len})""".format(x=x, sites_len=sites_len)

In [29]:
kenya_final['SITE_GROUPS_N'] = kenya_final.SITE_GROUP.apply(lambda x: get_SITE_GROUP_Ns(x=x,df=kenya_final))

SyntaxError: invalid syntax (<unknown>, line 1)

In [10]:
SITE_GROUP_by_YEAR_and_SEX = \
pd.crosstab(index=kenya_final.SITE_GROUP, 
            columns=[kenya_final.YEAR,kenya_final.TISSUE_OR_DNA], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

# SITE_GROUP_by_YEAR_and_SEX.to_excel(table_writer,sheet_name="SITE_GROUP_by_YEAR_and_SEX")
SITE_GROUP_by_YEAR_and_SEX

YEAR               2000 2001 2002  2003 2009          2010   All
TISSUE_OR_DNA       DNA  DNA  DNA   DNA  DNA Tissue Tissue
SITE_GROUP
Galana              120    0    0     0    0      0      0   120
Kabunkanga            0    0    0     0    0      0     14    14
Kalema               18    0    0     0    0      0      0    18
Kapesur               0    0    0     0  102     41      0   143
Kathekani            56    0    0     0    0      0      0    56
Ketri Insectary       0    0    0    92    0      0      0    92
Kwale                 0    0    0   466    0      0      0   466
Lambwe Valley        49    0  199   154    0      0      0   402
Lengobei              0    0    0    83    0      0      0    83
Leugong'u             0    0    0   142    0      0      0   142
Narok                 0    0    0    61    0     28      0    89
Nguruman             57   14   50  1146    0     77      0  1344
Ruma National Park    0    0    0   995    0      0      0   995
All                 300   14  249  3139  102    146     14  3964

In [ ]:
SITE_GROUP_by_YEAR_and_TISSUE = \
pd.crosstab(index=gpd_noQ.SITE_GROUP, 
            columns=[gpd_noQ.YEAR,gpd_noQ.TISSUE], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

# SITE_GROUP_by_YEAR_and_TISSUE.to_excel(table_writer,sheet_name="SITE_GROUP_by_YEAR_and_TISSUE")
SITE_GROUP_by_YEAR_and_TISSUE

In [ ]:
SITE_GROUP_by_YEAR_and_DERIVATIVE = \
pd.crosstab(index=gpd_noQ.SITE_GROUP, 
            columns=[gpd_noQ.YEAR,gpd_noQ.DERIVATIVE], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

# SITE_GROUP_by_YEAR_and_DERIVATIVE.to_excel(table_writer,sheet_name="YEAR_and_DERIVATIVE")
SITE_GROUP_by_YEAR_and_DERIVATIVE

In [ ]:
SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE = \
pd.crosstab(index=gpd_noQ.SITE_GROUP, 
            columns=[gpd_noQ.YEAR,gpd_noQ.KEPT_IN_SIMPLE], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

# SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE.to_excel(table_writer,sheet_name="YEAR_and_KEPT_IN_SIMPLE")
SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE

In [ ]:
gpd_noQ_RUMA = gpd_noQ.query("""SITE_GROUP == 'Ruma National Park'""")
len(gpd_noQ_RUMA)

In [ ]:
gpd_noQ_RUMA.KEPT_IN.unique()

In [ ]:
gpd_noQ_RUMA.query("""KEPT_IN_SIMPLE == 'EtOH'""")["RECORD_SOURCE"].unique()

In [ ]:
RUMA_SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE = \
pd.crosstab(index=gpd_noQ_RUMA.RECORD_SOURCE, 
            columns=[gpd_noQ_RUMA.YEAR,gpd_noQ_RUMA.KEPT_IN_SIMPLE], 
            values=None, 
            rownames=None, colnames=None, 
            aggfunc=None, 
            margins=True, 
            dropna=True)

# RUMA_SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE.to_excel(table_writer,sheet_name="RUMA_YEAR_and_KEPT_IN_SIMPLE")
RUMA_SITE_GROUP_by_YEAR_and_KEPT_IN_SIMPLE

In [ ]:
# table_writer.save()