In [93]:
import pandas as pd
import numpy as np

import rpy2

# from rpy2.robjects import pandas2ri
# pandas2ri.activate()

In [94]:
xls_path = '/home/gus/MEGAsync/zim/main/BCH/Projects/James/Nanostring_pipeline/OKT3/data/OKT3_annotation.xls'

anno = pd.read_excel(xls_path)

In [95]:
anno.head()

,File_Name,Study_ID,Sample_Type,Week,Responder
0,20150701_206180590716_MGH001 CD14 Week 0_07.RCC,1,CD14,0,0
1,20150701_206180590716_MGH001 CD14 Week 1_08.RCC,1,CD14,1,0
2,20150701_206180590716_MGH001 CD14 Week 3_09.RCC,1,CD14,3,0
3,20150630_206183460716_MGH002 CD14 Week 0_05.RCC,2,CD14,0,1
4,20150630_206183460716_MGH002 CD14 Week 1_06.RCC,2,CD14,1,1

In [96]:
anno['File_Name'] = anno.File_Name.apply(lambda i: 'X' + i.rstrip('.RCC').replace(' ','_').replace('+','.'))

In [97]:
anno.head()

,File_Name,Study_ID,Sample_Type,Week,Responder
0,X20150701_206180590716_MGH001_CD14_Week_0_07,1,CD14,0,0
1,X20150701_206180590716_MGH001_CD14_Week_1_08,1,CD14,1,0
2,X20150701_206180590716_MGH001_CD14_Week_3_09,1,CD14,3,0
3,X20150630_206183460716_MGH002_CD14_Week_0_05,2,CD14,0,1
4,X20150630_206183460716_MGH002_CD14_Week_1_06,2,CD14,1,1

In [113]:
anno.Sample_Type.unique()

array([u'CD14', u'Tcon', u'Treg'], dtype=object)

In [98]:
traits = anno.iloc[:,1:]

In [99]:
traits_dummy = pd.get_dummies(traits.astype(str))

In [100]:
traits_dummy.head()

,Study_ID_1,Study_ID_2,Study_ID_4,Study_ID_6,Study_ID_7,Study_ID_8,Sample_Type_CD14,Sample_Type_Tcon,Sample_Type_Treg,Week_0,Week_1,Week_3,Week_5,Responder_0,Responder_1
0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0
1,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0
2,1,0,0,0,0,0,1,0,0,0,0,1,0,1,0
3,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1
4,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1

In [101]:
compare_cd14_tcon = traits_dummy[['Sample_Type_CD14','Sample_Type_Tcon']]

In [102]:
cd14_or_tcon = (compare_cd14_tcon.Sample_Type_CD14 + compare_cd14_tcon.Sample_Type_Tcon).apply(bool)

In [103]:
traits_dummy['Sample_Type_CD14_v_Tcon'] = compare_cd14_tcon.Sample_Type_CD14[cd14_or_tcon]

In [115]:
test1 = compare_cd14_tcon.Sample_Type_CD14[cd14_or_tcon]

In [116]:
test2 = traits_dummy.Sample_Type_CD14[cd14_or_tcon]

In [117]:
test1 == test2

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
Name: Sample_Type_CD14, dtype: bool

In [114]:
compare_cd14_tcon.Sample_Type_CD14

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
58    0
59    0
Name: Sample_Type_CD14, dtype: float64

In [104]:
traits_dummy_ = traits_dummy + 1

In [105]:
anno_traits = anno.File_Name.copy()
anno_traits = pd.concat([anno_traits, traits_dummy_], axis=1)

In [106]:
anno_traits.head()

,File_Name,Study_ID_1,Study_ID_2,Study_ID_4,Study_ID_6,Study_ID_7,Study_ID_8,Sample_Type_CD14,Sample_Type_Tcon,Sample_Type_Treg,Week_0,Week_1,Week_3,Week_5,Responder_0,Responder_1,Sample_Type_CD14_v_Tcon
0,X20150701_206180590716_MGH001_CD14_Week_0_07,2,1,1,1,1,1,2,1,1,2,1,1,1,2,1,2
1,X20150701_206180590716_MGH001_CD14_Week_1_08,2,1,1,1,1,1,2,1,1,1,2,1,1,2,1,2
2,X20150701_206180590716_MGH001_CD14_Week_3_09,2,1,1,1,1,1,2,1,1,1,1,2,1,2,1,2
3,X20150630_206183460716_MGH002_CD14_Week_0_05,1,2,1,1,1,1,2,1,1,2,1,1,1,1,2,2
4,X20150630_206183460716_MGH002_CD14_Week_1_06,1,2,1,1,1,1,2,1,1,1,2,1,1,1,2,2

In [107]:
# def make_traits_df(in_path):
#     anno = pd.read_excel(in_path)
    
#     # convert file_name into what NanoStringNorm uses for sample names
#     anno['File_Name'] = anno.File_Name.apply(lambda i: 'X' + i.rstrip('.RCC').replace(' ','_'))
    
#     # separate traits columns
#     traits = anno.iloc[:,1:]
    
#     # convert trait columns into dummy variables
#     traits_dummy = pd.get_dummies(traits.astype(str))
    
#     traits_df = anno.File_Name.copy()
#     traits_df = pd.concat([traits_df, traits_dummy], axis=1)
    
#     return traits_df

In [108]:
# traits_df = make_traits_df(xls_path)

In [109]:
# traits_df == anno_traits

In [110]:
traits_df = anno_traits

In [111]:
traits_df.to_csv(xls_path.replace('.xls','.csv'), sep=',', index=False)

In [112]:
traits_df

,File_Name,Study_ID_1,Study_ID_2,Study_ID_4,Study_ID_6,Study_ID_7,Study_ID_8,Sample_Type_CD14,Sample_Type_Tcon,Sample_Type_Treg,Week_0,Week_1,Week_3,Week_5,Responder_0,Responder_1,Sample_Type_CD14_v_Tcon
0,X20150701_206180590716_MGH001_CD14_Week_0_07,2,1,1,1,1,1,2,1,1,2,1,1,1,2,1,2
1,X20150701_206180590716_MGH001_CD14_Week_1_08,2,1,1,1,1,1,2,1,1,1,2,1,1,2,1,2
2,X20150701_206180590716_MGH001_CD14_Week_3_09,2,1,1,1,1,1,2,1,1,1,1,2,1,2,1,2
3,X20150630_206183460716_MGH002_CD14_Week_0_05,1,2,1,1,1,1,2,1,1,2,1,1,1,1,2,2
4,X20150630_206183460716_MGH002_CD14_Week_1_06,1,2,1,1,1,1,2,1,1,1,2,1,1,1,2,2
5,X20150630_206183460716_MGH002_CD14_Week_3_07,1,2,1,1,1,1,2,1,1,1,1,2,1,1,2,2
6,X20150630_206183460716_MGH002_CD14_Week_5_08,1,2,1,1,1,1,2,1,1,1,1,1,2,1,2,2
7,X20150629_2.06E.11_MGH004_CD14_Week_0_09,1,1,2,1,1,1,2,1,1,2,1,1,1,2,1,2
8,X20150629_2.06E.11_MGH004_CD14_Week_1_10,1,1,2,1,1,1,2,1,1,1,2,1,1,2,1,2
9,X20150629_2.06E.11_MGH004_CD14_Week_3_11,1,1,2,1,1,1,2,1,1,1,1,2,1,2,1,2
10,X20150629_2.06E.11_MGH004_CD14_Week_5_12,1,1,2,1,1,1,2,1,1,1,1,1,2,2,1,2
11,X20150629_2.06446E.11_BWH006_CD14_Week_0_04,1,1,1,2,1,1,2,1,1,2,1,1,1,2,1,2
12,X20150629_2.06446E.11_BWH006_CD14_Week_1_03,1,1,1,2,1,1,2,1,1,1,2,1,1,2,1,2
13,X20150629_2.06446E.11_BWH006_CD14_Week_3_02,1,1,1,2,1,1,2,1,1,1,1,2,1,2,1,2
14,X20150629_2.06446E.11_BWH006_CD14_Week_5_01,1,1,1,2,1,1,2,1,1,1,1,1,2,2,1,2
15,X20150701_206180590716_MGH007_CD14_Week_0_10,1,1,1,1,2,1,2,1,1,2,1,1,1,1,2,2
16,X20150701_206180590716_MGH007_CD14_Week_1_11,1,1,1,1,2,1,2,1,1,1,2,1,1,1,2,2
17,X20150701_206180590716_MGH007_CD14_Week_3_12,1,1,1,1,2,1,2,1,1,1,1,2,1,1,2,2
18,X20150629_2.06183E.11_BWH008_CD14_Week_0_09,1,1,1,1,1,2,2,1,1,2,1,1,1,1,2,2
19,X20150629_2.06183E.11_BWH008_CD14_Week_1_10,1,1,1,1,1,2,2,1,1,1,2,1,1,1,2,2
20,X20150629_2.06183E.11_BWH008_CD14_Week_3_11,1,1,1,1,1,2,2,1,1,1,1,2,1,1,2,2
21,X20150629_2.06183E.11_BWH008_CD14_Week_5_12,1,1,1,1,1,2,2,1,1,1,1,1,2,1,2,2
22,X20150701_206180590716_MGH001_Tcon_Week_0_01,2,1,1,1,1,1,1,2,1,2,1,1,1,2,1,1
23,X20150701_206180590716_MGH001_Tcon_Week_1_05,2,1,1,1,1,1,1,2,1,1,2,1,1,2,1,1
24,X20150701_206180590716_MGH001_Tcon_Week_3_06,2,1,1,1,1,1,1,2,1,1,1,2,1,2,1,1
25,X20150630_206183460716_MGH002_Tcon_Week_0_01,1,2,1,1,1,1,1,2,1,2,1,1,1,1,2,1
26,X20150630_206183460716_MGH002_Tcon_Week_1_02,1,2,1,1,1,1,1,2,1,1,2,1,1,1,2,1
27,X20150630_206183460716_MGH002_Tcon_Week_3_03,1,2,1,1,1,1,1,2,1,1,1,2,1,1,2,1
28,X20150630_206183460716_MGH002_Tcon_Week_5_04,1,2,1,1,1,1,1,2,1,1,1,1,2,1,2,1
29,X20150629_2.06E.11_MGH004_Tcon_Week_0_05,1,1,2,1,1,1,1,2,1,2,1,1,1,2,1,1
30,X20150629_2.06E.11_MGH004_Tcon_Week_1_06,1,1,2,1,1,1,1,2,1,1,2,1,1,2,1,1
31,X20150629_2.06E.11_MGH004_Tcon_Week_3_07,1,1,2,1,1,1,1,2,1,1,1,2,1,2,1,1
32,X20150629_2.06E.11_MGH004_Tcon_Week_5_08,1,1,2,1,1,1,1,2,1,1,1,1,2,2,1,1
33,X20150629_2.06446E.11_BWH006_Tcon_Week_0_08,1,1,1,2,1,1,1,2,1,2,1,1,1,2,1,1
34,X20150629_2.06446E.11_BWH006_Tcon_Week_1_07,1,1,1,2,1,1,1,2,1,1,2,1,1,2,1,1
35,X20150629_2.06446E.11_BWH006_Tcon_Week_3_06,1,1,1,2,1,1,1,2,1,1,1,2,1,2,1,1
36,X20150629_2.06446E.11_BWH006_Tcon_Week_5_05,1,1,1,2,1,1,1,2,1,1,1,1,2,2,1,1
37,X20150630_206183460716_MGH007_Tcon_Week_0_11,1,1,1,1,2,1,1,2,1,2,1,1,1,1,2,1
38,X20150630_206183460716_MGH007_Tcon_Week_1_12,1,1,1,1,2,1,1,2,1,1,2,1,1,1,2,1
39,X20150629_2.06183E.11_BWH008_Tcon_Week_0_05,1,1,1,1,1,2,1,2,1,2,1,1,1,1,2,1
40,X20150629_2.06183E.11_BWH008_Tcon_Week_1_06,1,1,1,1,1,2,1,2,1,1,2,1,1,1,2,1
41,X20150629_2.06183E.11_BWH008_Tcon_Week_3_07,1,1,1,1,1,2,1,2,1,1,1,2,1,1,2,1
42,X20150629_2.06183E.11_BWH008_Tcon_Week_5_08,1,1,1,1,1,2,1,2,1,1,1,1,2,1,2,1
43,X20150701_206180590716_MGH001_Treg_Week_0_04,2,1,1,1,1,1,1,1,2,2,1,1,1,2,1,NaN
44,X20150701_206180590716_MGH001_Treg_Week_1_02,2,1,1,1,1,1,1,1,2,1,2,1,1,2,1,NaN
45,X20150701_206180590716_MGH001_Treg_Week_3_03,2,1,1,1,1,1,1,1,2,1,1,2,1,2,1,NaN
46,X20150629_2.06E.11_MGH004_Treg_Week_0_01,1,1,2,1,1,1,1,1,2,2,1,1,1,1,2,NaN
47,X20150629_2.06E.11_MGH004_Treg_Week_1_02,1,1,2,1,1,1,1,1,2,1,2,1,1,1,2,NaN
48,X20150629_2.06E.11_MGH004_Treg_Week_3_03,1,1,2,1,1,1,1,1,2,1,1,2,1,1,2,NaN
49,X20150629_2.06E.11_MGH004_Treg_Week_5_04,1,1,2,1,1,1,1,1,2,1,1,1,2,1,2,NaN
50,X20150629_2.06446E.11_BWH006_Treg_Week_0_12,1,1,1,2,1,1,1,1,2,2,1,1,1,1,2,NaN
51,X20150629_2.06446E.11_BWH006_Treg_Week_1_11,1,1,1,2,1,1,1,1,2,1,2,1,1,2,1,NaN
52,X20150629_2.06446E.11_BWH006_Treg_Week_3_10,1,1,1,2,1,1,1,1,2,1,1,2,1,2,1,NaN
53,X20150629_2.06446E.11_BWH006_Treg_Week_5_09,1,1,1,2,1,1,1,1,2,1,1,1,2,2,1,NaN
54,X20150630_206183460716_MGH007_Treg_Week_0_09,1,1,1,1,2,1,1,1,2,2,1,1,1,2,1,NaN
55,X20150630_206183460716_MGH007_Treg_Week_1_10,1,1,1,1,2,1,1,1,2,1,2,1,1,2,1,NaN
56,X20150629_2.06183E.11_BWH008_Treg_Week_0_01,1,1,1,1,1,2,1,1,2,2,1,1,1,1,2,NaN
57,X20150629_2.06183E.11_BWH008_Treg_Week_1_02,1,1,1,1,1,2,1,1,2,1,2,1,1,1,2,NaN
58,X20150629_2.06183E.11_BWH008_Treg_Week_3_03,1,1,1,1,1,2,1,1,2,1,1,2,1,1,2,NaN
59,X20150629_2.06183E.11_BWH008_Treg_Week_5_04,1,1,1,1,1,2,1,1,2,1,1,1,2,1,2,NaN