# Purpose:

2015-02-16 (Monday)

Generate code to import and summarize collection field records in pandas while the real DB is being finished.

# Implementation:

## Imports:

In [1]:
# imports
import csv
import itertools

import pandas as pd
import numpy as np

import munch

from tribool import Tribool

In [2]:
# for plotting
import ggplot as g

## File paths:

In [3]:
# define paths to files
spring_summer = "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/collection_data/2014_spring_summer_from_rob.xlsx"
fall =          "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/collection_data/2014_fall_for_pandas.xlsx"


h5_out_path = "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/collection_data/hdf5/2014_collection_records.h5"

In [4]:
village_id_map_path = "/home/gus/Dropbox/uganda_data/data_repos/field_data/locations/names/uganda_village_id_map.csv"

----
# Helper functions

In [5]:
def get_village_id_map(village_id_map_path):
    """
    Generates and returns a `dict` mapping the long-form village names to the letter codes.
    Letter codes map back to themselves to ensure a one way mapping.  
    Enforces both be all UPPERcase to allow case insensitivity as long as
    the map is used like: `map[text.upper()]`.
    :return: `dict`
    """

    village_id_map = {}

    with open(village_id_map_path, 'rb') as csv_file:
        village_ids = csv.reader(csv_file, delimiter=',')
        for pair in village_ids:
            village_id_map[unicode(pair[0].upper())] = unicode(pair[0].upper())
            village_id_map[unicode(pair[1].upper())] = unicode(pair[0].upper())

    return village_id_map

In [6]:
def load_xl_sheets(xl_path):
    dfs = munch.Munch()
    
    xls = pd.ExcelFile(xl_path)
    
    for sheet in xls.sheet_names:
        if sheet.upper().startswith("DISSECT"):
            dfs[sheet] = xls.parse(sheetname=sheet, 
                                header=0, 
                                skiprows=None, skip_footer=0, 
                                index_col=None, parse_cols=None, 
                                parse_dates=False, date_parser=None, 
                                na_values=['NA'], 
                                thousands=None, chunksize=None, 
                                convert_float=False, 
                                has_index_names=False, converters=None)
    return dfs

In [7]:
def recode_villages(df):
    map_func = lambda x: village_id_map[x.upper()]
        
    new_codes = df.Village.apply(map_func)
    df.Village = new_codes

In [8]:
def recode_dead(df):
    def recode_func(x):
        # this is treated as an unknown case
        if pd.isnull(x):
            return x

        x = unicode(x)

        # True means DEAD
        # False means LIVE or NOT-DEAD
        # None means unknown

        try:
            # deal with Live type cases
            if x.upper().startswith('L'):
                return False


            if x.startswith('0'):
                return False


            # deal with Dead type cases
            if x.upper().startswith('D'):
                return True


            if x.startswith('1'):
                return True


            # deal with unknown type cases
            if x.upper().startswith('UN'):
                return None
        except AttributeError:
            return x

        msg = "The value {x} was not expected and this function must be corrected to continue.".format(x=x)
        raise ValueError(msg)

    new_dead = df.Dead.apply(recode_func)
    df.Dead = new_dead

##########################################

def recode_teneral(df):
    def recode_func(x):

        # this is treated as an unknown case
        if pd.isnull(x):
            return x

        x = unicode(x)

        # True means teneral
        # False means NOT-teneral
        # None means unknown

        try:
            # deal with NOT-teneral type cases
            if x.upper().startswith('N'):
                return False

            if x.startswith('0'):
                return False

            # deal with Teneral type cases
            if x.upper().startswith('T'):
                return True
            
            if x.startswith('1'):
                return True


            # Deal with unknown type cases
            if x.upper().startswith('UN'):
                return x
        except AttributeError:
            return x

        msg = "The value {x} was not expected and this function must be corrected to continue.".format(x=x)
        raise ValueError(msg)
    
    
    new_teneral = df.Teneral.apply(recode_func)
    df.Teneral = new_teneral

##########################################

def recode_positives(df):
    def recode_func(x):
        # this is treated as an unknown case
        if pd.isnull(x):
            return x

        y = unicode(x)

        # deal with Unknown type cases
        if y.upper().startswith('UN'):
            return None

        if y.upper().startswith('DEAD'):
            return None


        # deal with Positive type cases
        if y.startswith('1'):
            return True


        if y.upper().startswith('TRUE'):
            return True

        if y.upper().startswith('P'):
            return True

        if y.upper().startswith('Y'):
            return True


        # deal with Negative type cases
        if y.upper().startswith('NO'):
            return False

        if y.upper().startswith('FALSE'):
            return False


        if y.startswith('0'):
            return False


        msg = "The value {x} was not expected and this function must be corrected to continue.".format(x=x)
        raise ValueError(msg)


    new_prob = df.prob.apply(recode_func)
    df.prob = new_prob
    
    new_midgut = df.midgut.apply(recode_func)
    df.midgut = new_midgut
    
    new_sal_gland = df.sal_gland.apply(recode_func)
    df.sal_gland = new_sal_gland

##########################################

def recode_species(df):

    recode_func = lambda x: ''.join(x.split('.')).capitalize()

    new_Species = df.Species.apply(recode_func)
    df.Species = new_Species

##########################################

def recode_sex(df):

    recode_func = lambda x: x.upper()

    new_Sex = df.Sex.apply(recode_func)
    df.Sex = new_Sex

In [9]:
def aggregate_column_from_df_list(df_list, col_name):
    agg_data = []
    for df in df_list:
        agg_data.extend(list(df[col_name]))
        
    
    return agg_data

### Functions that add new columns

In [10]:
def add_infection_state_col(df):
    
    df['infection_state'] = df[['prob','midgut','sal_gland']].any(skipna=True,axis=1)

----
# Helpful constants

In [11]:
village_id_map = get_village_id_map(village_id_map_path)

In [12]:
spring_summer_dfs = load_xl_sheets(spring_summer)
fall_dfs = load_xl_sheets(fall)

In [13]:
fall_dfs.values()[0].head(2)

,Village,Trap_No,Date,Species,Sex,Teneral,Dead,Fly_Number,Hunger_stage,prob,midgut,sal_gland,Wing_fray,Kept_in,Comment
0,Kitgum town council,1,2014-10-08,Gff,M,T,NaN,1,NaN,0,0,0,NaN,Ethanol,NaN
1,Kitgum town council,1,2014-10-08,Gff,M,NT,NaN,2,3,0,0,0,2,Ethanol,NaN

In [14]:
# pdb

In [15]:
# list all dfs and run our recoder's so far
df_all = spring_summer_dfs.values() + fall_dfs.values()

for df in df_all:
    recode_sex(df)
    recode_species(df)
    recode_villages(df)
    recode_positives(df)
    recode_dead(df)
    recode_teneral(df)
    add_infection_state_col(df)

In [16]:
df.head()

,Village,Trap_No,Date,Species,Sex,Teneral,Dead,Fly_Number,Hunger_stage,prob,midgut,sal_gland,Wing_fray,Kept_in,Comment,infection_state
0,LAG,13,2014-10-12,Gff,F,False,NaN,1,3,False,False,False,2,ethanol,NaN,False
1,LAG,13,2014-10-12,Gff,F,False,NaN,2,2,False,False,False,2,ethanol,NaN,False
2,LAG,13,2014-10-12,Gff,F,False,NaN,3,2,False,False,False,3,ethanol,NaN,False
3,LAG,12,2014-10-12,Gff,M,False,NaN,4,3,False,False,False,2,ethanol,NaN,False
4,LAG,12,2014-10-12,Gff,F,False,NaN,5,1,False,False,False,3,ethanol,NaN,False

In [17]:
df_all[2].head()

,Village,Trap_No,Date,Species,Sex,Teneral,Dead,Fly_Number,Hunger_stage,Wing_fray,prob,midgut,sal_gland,Kept_in,Comment,infection_state
0,GOR,2,2014/07/27,Gff,F,False,False,GOR-14 001,2,2,False,False,False,EtOH,NaN,False
1,GOR,2,2014/07/27,Gff,F,False,False,GOR-14 002,2,2,False,False,False,EtOH,NaN,False
2,GOR,2,2014/07/27,Gff,M,False,False,GOR-14 003,3,2,False,False,False,EtOH,NaN,False
3,GOR,2,2014/07/27,Gff,F,False,False,GOR-14 004,3,2,False,False,False,EtOH,NaN,False
4,GOR,2,2014/07/27,Gff,F,False,False,GOR-14 005,2,2,False,False,False,EtOH,NaN,False

In [18]:
(df_all[2].prob | df_all[2].midgut | df_all[2].sal_gland).sum()

0

In [19]:
prob_all = aggregate_column_from_df_list(df_all, 'prob')

prob_all.count(True)

0

In [20]:
midgut_all = aggregate_column_from_df_list(df_all, 'midgut')

midgut_all.count(True)

51

In [21]:
sal_gland_all = aggregate_column_from_df_list(df_all, 'sal_gland')

sal_gland_all.count(True)

1

In [22]:
infection_state_all = aggregate_column_from_df_list(df_all, 'infection_state')

infection_state_all.count(True)

51

---
# Combine dataframes to one for ruling

In [23]:
df_big = pd.concat(df_all)

In [24]:
len(df_big)

5335

In [25]:
df_big.head()

,Comment,Date,Dead,Fly_Number,Hunger_stage,Kept_in,Sex,Species,Teneral,Trap_No,Village,Wing_fray,infection_state,midgut,prob,sal_gland
0,NaN,2014/07/22,False,UWA-14 001,2,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
1,NaN,2014/07/22,False,UWA-14 002,3,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
2,NaN,2014/07/22,False,UWA-14 003,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
3,NaN,2014/07/22,False,UWA-14 004,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
4,NaN,2014/07/22,False,UWA-14 005,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False

---
# Save this table

In [26]:
# df_big.to_hdf(path_or_buf=h5_out_path, key='main', mode='w')

---
# Pivot this table

In [86]:
# df1 = df_big.query('(Species == ["Gff"])').query('Village == ["DUK", "ORB", "ACA", "LIB"]')
df1 = df_big.query('(Species == ["Gff"])').query('Village == ["UWA"]')

In [96]:
df1

,Comment,Date,Dead,Fly_Number,Hunger_stage,Kept_in,Sex,Species,Teneral,Trap_No,Village,Wing_fray,infection_state,midgut,prob,sal_gland
0,NaN,2014/07/22,False,UWA-14 001,2,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
1,NaN,2014/07/22,False,UWA-14 002,3,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
2,NaN,2014/07/22,False,UWA-14 003,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
3,NaN,2014/07/22,False,UWA-14 004,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
4,NaN,2014/07/22,False,UWA-14 005,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
5,NaN,2014/07/22,False,UWA-14 006,2,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
6,NaN,2014/07/22,False,UWA-14 007,3,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
7,NaN,2014/07/22,False,UWA-14 008,3,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
8,NaN,2014/07/22,False,UWA-14 009,3,EtOH,F,Gff,False,1,UWA,3,False,False,False,False
9,NaN,2014/07/22,False,UWA-14 010,2,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
10,NaN,2014/07/22,False,UWA-14 011,3,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
11,NaN,2014/07/22,False,UWA-14 012,3,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
12,NaN,2014/07/22,False,UWA-14 013,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
13,NaN,2014/07/22,False,UWA-14 014,2,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
14,NaN,2014/07/22,False,UWA-14 015,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
15,NaN,2014/07/22,False,UWA-14 016,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
16,NaN,2014/07/22,False,UWA-14 017,3,EtOH,F,Gff,False,1,UWA,3,False,False,False,False
17,NaN,2014/07/22,False,UWA-14 018,3,EtOH,F,Gff,False,1,UWA,3,False,False,False,False
18,NaN,2014/07/22,True,UWA-14 019,NaN,EtOH,M,Gff,False,1,UWA,NaN,False,NaN,NaN,NaN
19,NaN,2014/07/22,True,UWA-14 020,NaN,EtOH,M,Gff,False,1,UWA,NaN,False,NaN,NaN,NaN
20,NaN,2014/07/22,True,UWA-14 021,NaN,EtOH,M,Gff,False,1,UWA,NaN,False,NaN,NaN,NaN
21,NaN,2014/07/22,True,UWA-14 022,NaN,EtOH,M,Gff,False,1,UWA,NaN,False,NaN,NaN,NaN
22,NaN,2014/07/22,True,UWA-14 023,NaN,EtOH,M,Gff,False,1,UWA,NaN,False,NaN,NaN,NaN
23,NaN,2014/07/22,False,UWA-14 024,NaN,EtOH,F,Gff,True,1,UWA,NaN,False,NaN,NaN,NaN
24,NaN,2014/07/22,False,UWA-14 025,NaN,EtOH,F,Gff,True,1,UWA,NaN,False,NaN,NaN,NaN
25,NaN,2014/07/22,False,UWA-14 026,NaN,EtOH,F,Gff,True,1,UWA,NaN,False,NaN,NaN,NaN
26,NaN,2014/07/22,False,UWA-14 027,NaN,EtOH,M,Gff,True,1,UWA,NaN,False,NaN,NaN,NaN
27,NaN,2014/07/22,False,UWA-14 028,NaN,EtOH,M,Gff,True,1,UWA,NaN,False,NaN,NaN,NaN
28,NaN,2014/07/22,False,UWA-14 029,NaN,EtOH,M,Gff,True,1,UWA,NaN,False,NaN,NaN,NaN
29,NaN,2014/07/22,False,UWA-14 030,NaN,EtOH,M,Gff,True,1,UWA,NaN,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,NaN,2014/07/24,True,UWA-14 749,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
750,NaN,2014/07/24,True,UWA-14 750,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
751,NaN,2014/07/24,True,UWA-14 751,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
752,NaN,2014/07/24,True,UWA-14 752,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
753,NaN,2014/07/24,True,UWA-14 753,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
754,NaN,2014/07/24,True,UWA-14 754,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
755,NaN,2014/07/24,True,UWA-14 755,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
756,NaN,2014/07/24,True,UWA-14 756,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
757,NaN,2014/07/24,True,UWA-14 757,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
758,NaN,2014/07/24,True,UWA-14 758,NaN,EtOH,F,Gff,False,3,UWA,NaN,False,NaN,NaN,NaN
759,NaN,2014/07/24,False,UWA-14 759,NaN,EtOH,F,Gff,True,3,UWA,NaN,False,NaN,NaN,NaN
760,NaN,2014/07/24,False,UWA-14 760,NaN,EtOH,F,Gff,True,3,UWA,NaN,False,NaN,NaN,NaN
761,NaN,2014/07/24,False,UWA-14 761,NaN,EtOH,M,Gff,True,3,UWA,NaN,False,NaN,NaN,NaN
762,NaN,2014/07/24,True,UWA-14 762,NaN,EtOH,F,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
763,NaN,2014/07/24,True,UWA-14 763,NaN,EtOH,F,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
764,NaN,2014/07/24,True,UWA-14 764,NaN,EtOH,F,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
765,NaN,2014/07/24,True,UWA-14 765,NaN,EtOH,F,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
766,NaN,2014/07/24,True,UWA-14 766,NaN,EtOH,F,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
767,NaN,2014/07/24,True,UWA-14 767,NaN,EtOH,F,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
768,NaN,2014/07/24,True,UWA-14 768,NaN,EtOH,F,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
769,NaN,2014/07/24,True,UWA-14 769,NaN,EtOH,M,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
770,NaN,2014/07/24,True,UWA-14 770,NaN,EtOH,M,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
771,NaN,2014/07/24,True,UWA-14 771,NaN,EtOH,M,Gff,False,5,UWA,NaN,False,NaN,NaN,NaN
772,NaN,2014/07/24,True,UWA-14 772,NaN,EtOH,F,Gff,False,4,UWA,NaN,False,NaN,NaN,NaN
773,NaN,2014/07/24,True,UWA-14 773,NaN,EtOH,F,Gff,False,4,UWA,NaN,False,NaN,NaN,NaN
774,NaN,2014/07/24,True,UWA-14 774,NaN,EtOH,F,Gff,False,4,UWA,NaN,False,NaN,NaN,NaN
775,NaN,2014/07/24,True,UWA-14 775,NaN,EtOH,F,Gff,False,4,UWA,NaN,False,NaN,NaN,NaN
776,NaN,2014/07/24,True,UWA-14 776,NaN,EtOH,F,Gff,False,4,UWA,NaN,False,NaN,NaN,NaN
777,NaN,2014/07/24,True,UWA-14 777,NaN,EtOH,F,Gff,False,4,UWA,NaN,False,NaN,NaN,NaN
778,NaN,2014/07/24,True,UWA-14 778,NaN,EtOH,F,Gff,False,4,UWA,NaN,False,NaN,NaN,NaN

In [93]:

table1 = pd.pivot_table(df1,index=['Village', 'Fly_Number', 'Date','Dead'],
                      values=['Species'],
                      fill_value=0,
                      aggfunc=[len])
table1

                                        len
                                    Species
Village Fly_Number Date       Dead
UWA     UWA-14 001 2014/07/22 False       1
        UWA-14 002 2014/07/22 False       1
        UWA-14 003 2014/07/22 False       1
        UWA-14 004 2014/07/22 False       1
        UWA-14 005 2014/07/22 False       1
        UWA-14 006 2014/07/22 False       1
        UWA-14 007 2014/07/22 False       1
        UWA-14 008 2014/07/22 False       1
        UWA-14 009 2014/07/22 False       1
        UWA-14 010 2014/07/22 False       1
        UWA-14 011 2014/07/22 False       1
        UWA-14 012 2014/07/22 False       1
        UWA-14 013 2014/07/22 False       1
        UWA-14 014 2014/07/22 False       1
        UWA-14 015 2014/07/22 False       1
        UWA-14 016 2014/07/22 False       1
        UWA-14 017 2014/07/22 False       1
        UWA-14 018 2014/07/22 False       1
        UWA-14 019 2014/07/22 True        1
        UWA-14 020 2014/07/22 True        1
        UWA-14 021 2014/07/22 True        1
        UWA-14 022 2014/07/22 True        1
        UWA-14 023 2014/07/22 True        1
        UWA-14 024 2014/07/22 False       1
        UWA-14 025 2014/07/22 False       1
        UWA-14 026 2014/07/22 False       1
        UWA-14 027 2014/07/22 False       1
        UWA-14 028 2014/07/22 False       1
        UWA-14 029 2014/07/22 False       1
        UWA-14 030 2014/07/22 False       1
...                                     ...
        UWA-14 749 2014/07/24 True        1
        UWA-14 750 2014/07/24 True        1
        UWA-14 751 2014/07/24 True        1
        UWA-14 752 2014/07/24 True        1
        UWA-14 753 2014/07/24 True        1
        UWA-14 754 2014/07/24 True        1
        UWA-14 755 2014/07/24 True        1
        UWA-14 756 2014/07/24 True        1
        UWA-14 757 2014/07/24 True        1
        UWA-14 758 2014/07/24 True        1
        UWA-14 759 2014/07/24 False       1
        UWA-14 760 2014/07/24 False       1
        UWA-14 761 2014/07/24 False       1
        UWA-14 762 2014/07/24 True        1
        UWA-14 763 2014/07/24 True        1
        UWA-14 764 2014/07/24 True        1
        UWA-14 765 2014/07/24 True        1
        UWA-14 766 2014/07/24 True        1
        UWA-14 767 2014/07/24 True        1
        UWA-14 768 2014/07/24 True        1
        UWA-14 769 2014/07/24 True        1
        UWA-14 770 2014/07/24 True        1
        UWA-14 771 2014/07/24 True        1
        UWA-14 772 2014/07/24 True        1
        UWA-14 773 2014/07/24 True        1
        UWA-14 774 2014/07/24 True        1
        UWA-14 775 2014/07/24 True        1
        UWA-14 776 2014/07/24 True        1
        UWA-14 777 2014/07/24 True        1
        UWA-14 778 2014/07/24 True        1

[729 rows x 1 columns]

In [94]:
table1.to_csv('/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/collection_data/village_data/UWA_2014.csv')

In [28]:
table2 = pd.pivot_table(df_big.query('Species == ["Gff"]'),index=['Village'],
                      values=['Count'],
                      columns=['infection_state'],
                      fill_value=0,
                      aggfunc=[len])
table2