In [1]:
%matplotlib inline
# %matplotlib

In [2]:
from __future__ import division,print_function

In [3]:
from spartan.utils.sklearn import model_assessment, feature_selection
from spartan.utils.sklearn import pandas_helpers

In [4]:
from collections import Counter, defaultdict
import math

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)


import sklearn as skl
import sklearn.preprocessing as ppro

from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline

from sklearn.decomposition import PCA, RandomizedPCA, KernelPCA, FactorAnalysis
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import train_test_split

from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier,ExtraTreesClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RandomizedLogisticRegression
from sklearn.linear_model import Lasso

from sklearn.feature_selection import SelectKBest

from sklearn.metrics import confusion_matrix

from sklearn.feature_selection import SelectFromModel

In [5]:
from matplotlib import pyplot as plt
import seaborn as sns

In [6]:
sns.set_context('poster')

In [7]:
otu_path = "/home/gus/MEGAsync/zim/main/BCH/Projects/Amy/ASFHeliNov30Map/otu_table_L7.csv"
map_path = "/home/gus/MEGAsync/zim/main/BCH/Projects/Amy/ASFHeliNov30Map/ASFHeliNov30Map.csv"

In [157]:
otu = pd.read_csv(filepath_or_buffer=otu_path, sep='\t', 
                  quoting=0, skipinitialspace=False, lineterminator=None, header='infer', index_col=None, names=None)

meta = pd.read_csv(filepath_or_buffer=map_path, sep='\t')

# Recode OTU table as needed

In [158]:
otu.head()

,OTU ID,36,37,40,43,53,54,57,60,63,...,416,316,370,134,155,47,169,253,292,368
0,k__Bacteria;p__Actinobacteria;c__Acidimicrobii...,0,0,0,0,0,0,0,0,0,...,0.00004,0,0,0,0,0,0,0,0,0
1,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0,0,0,0,0,0,0,0,0,...,0.00000,0,0,0,0,0,0,0,0,0
2,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0,0,0,0,0,0,0,0,0,...,0.00000,0,0,0,0,0,0,0,0,0
3,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0,0,0,0,0,0,0,0,0,...,0.00000,0,0,0,0,0,0,0,0,0
4,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0,0,0,0,0,0,0,0,0,...,0.00000,0,0,0,0,0,0,0,0,0

In [159]:
otu.index = otu['OTU ID'].values
otu = otu.drop(['OTU ID'],axis=1)

It looks like the data are not in "counts" but in "fraction of counts" format?

In [160]:
# otu.plot(kind='line');

In [161]:
# otu_scaled = otu.T.apply(lambda m: (m - m.mean())/m.std()).T
# otu_scaled = otu.T.apply(lambda m: (m / m.sum())).T
# otu_scaled = otu

otu_shrunk = otu.sum().min() / otu.sum() * otu

otu_scaled = otu_shrunk.T.apply(lambda m: (m - m.mean())/m.std()).T

# Recode metadata table as needed
- convert Date column from string to date object 
- make sure some lable values are not interpreted as numbers
- add relative date to allow comparison of time points between WT and Was-/- mice

In [162]:
meta['Date'] = meta.Date.apply(lambda t: pd.Timestamp(t))

In [163]:
meta.SampleID = meta.SampleID.astype(str)

In [164]:
meta.head()

  SampleID       Date  Timepoint  Mouse ID Genotype Helicobacter
0       33 2014-10-29          3         1   Was-/-           No
1       34 2014-10-29          3         2   Was-/-          Yes
2       35 2014-10-29          3         3   Was-/-          Yes
3       36 2014-10-29          3         4   Was-/-          Yes
4       37 2014-10-29          3         5   Was-/-           No

In [165]:
meta['genotype'] = meta.Genotype.apply(lambda i: i if i == 'WT' else 'MUT')
meta.head()

  SampleID       Date  Timepoint  Mouse ID Genotype Helicobacter genotype
0       33 2014-10-29          3         1   Was-/-           No      MUT
1       34 2014-10-29          3         2   Was-/-          Yes      MUT
2       35 2014-10-29          3         3   Was-/-          Yes      MUT
3       36 2014-10-29          3         4   Was-/-          Yes      MUT
4       37 2014-10-29          3         5   Was-/-           No      MUT

### Pull time points into two DFs based on WT/MUT

In [166]:
week_delta* 3

Timedelta('21 days 00:00:00')

In [167]:
week_delta = pd.Timedelta(1,'W')

In [168]:
week_delta.resolution

'D'

In [169]:
wt = meta.query("""genotype == 'WT' """).query(""" Timepoint >= 3 """).copy().sort_values('Date')
mut = meta.query("""genotype == 'MUT' """).copy().sort_values('Date')

In [170]:
wt['weeks'] = ((wt.Date - wt.Date.iloc[0] + (3 * week_delta)) / week_delta).round()
mut['weeks'] = ((mut.Date - mut.Date.iloc[0] + (3 * week_delta)) / week_delta).round()

In [171]:
mut.head()

,SampleID,Date,Timepoint,Mouse ID,Genotype,Helicobacter,genotype,weeks
0,33,2014-10-29,3,1,Was-/-,No,MUT,3
15,48,2014-10-29,3,16,Was-/-,Yes,MUT,3
14,47,2014-10-29,3,15,Was-/-,Yes,MUT,3
13,46,2014-10-29,3,14,Was-/-,Yes,MUT,3
12,45,2014-10-29,3,13,Was-/-,Yes,MUT,3

In [172]:
wt.head()

,SampleID,Date,Timepoint,Mouse ID,Genotype,Helicobacter,genotype,weeks
214,249,2015-08-06,3,17,WT,No,WT,3
225,260,2015-08-06,3,28,WT,Yes,WT,3
224,259,2015-08-06,3,27,WT,Yes,WT,3
223,258,2015-08-06,3,26,WT,Yes,WT,3
221,256,2015-08-06,3,24,WT,Yes,WT,3

### How many time points do we have with MATCHING week numbers?

In [173]:
common_week_data = list(set(wt.weeks).intersection(set(mut.weeks)))

In [174]:
len(common_week_data)

12

In [175]:
common_week_data

[3.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0]

### Only use data from `mut` and `wt` that have matching week data

In [176]:
mut_common = mut.query(""" weeks in {common_week_data} """.format(common_week_data=common_week_data)).copy()
wt_common = wt.query(""" weeks in {common_week_data} """.format(common_week_data=common_week_data)).copy()

### Bring common weeks back into single metadata table

In [194]:
# ALSO: we get rid of columns we dont need here
meta_common = pd.concat([mut_common,wt_common]).drop(['Timepoint','Date','Genotype'], axis=1)

# Join meta data

In [195]:
meta_common_i = meta_common.set_index('SampleID')
full_table = meta_common_i.join(otu_scaled.T)

In [196]:
full_table.head()

,Mouse ID,Helicobacter,genotype,weeks,k__Bacteria;p__Actinobacteria;c__Acidimicrobiia;o__Acidimicrobiales;f__;g__;s__,k__Bacteria;p__Actinobacteria;c__Actinobacteria;o__Actinomycetales;f__Corynebacteriaceae;g__Corynebacterium;s__,k__Bacteria;p__Actinobacteria;c__Actinobacteria;o__Actinomycetales;f__Microbacteriaceae;g__;s__,k__Bacteria;p__Actinobacteria;c__Actinobacteria;o__Actinomycetales;f__Propionibacteriaceae;g__Propionibacterium;s__acnes,k__Bacteria;p__Actinobacteria;c__Actinobacteria;o__Actinomycetales;f__Streptomycetaceae;g__Streptomyces;s__,k__Bacteria;p__Bacteroidetes;c__Bacteroidia;o__Bacteroidales;f__Bacteroidaceae;g__Bacteroides;s__,...,k__Bacteria;p__Proteobacteria;c__Epsilonproteobacteria;o__Campylobacterales;f__Helicobacteraceae;g__Helicobacter;s__,k__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Enterobacteriales;f__Enterobacteriaceae;g__;s__,k__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Oceanospirillales;f__Halomonadaceae;g__Halomonas;s__pacifica,k__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Pasteurellales;f__Pasteurellaceae;g__;s__,k__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Pasteurellales;f__Pasteurellaceae;g__Haemophilus;s__parainfluenzae,k__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Pseudomonadales;f__Moraxellaceae;g__;s__,k__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Pseudomonadales;f__Moraxellaceae;g__Acinetobacter;s__,k__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Pseudomonadales;f__Pseudomonadaceae;g__;s__,k__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Pseudomonadales;f__Pseudomonadaceae;g__Pseudomonas;s__,k__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Xanthomonadales;f__Xanthomonadaceae;g__;s__
SampleID,,,,,,,,,,,,,,,,,,,,,
33,1,No,MUT,3,-0.05164,-0.073125,-0.05164,-0.05164,-0.05164,-0.05164,...,-0.478886,-0.057719,-0.05164,-0.05164,-0.071295,-0.05164,-0.063621,-0.05164,-0.068713,-0.103745
48,16,Yes,MUT,3,-0.05164,-0.073125,-0.05164,-0.05164,-0.05164,-0.05164,...,-0.478886,-0.057719,-0.05164,-0.05164,-0.071295,-0.05164,-0.063621,-0.05164,-0.068713,-0.103745
47,15,Yes,MUT,3,-0.05164,-0.073125,-0.05164,-0.05164,-0.05164,-0.05164,...,-0.478886,-0.057719,-0.05164,-0.05164,-0.071295,-0.05164,-0.063621,-0.05164,-0.068713,-0.103745
46,14,Yes,MUT,3,-0.05164,-0.073125,-0.05164,-0.05164,-0.05164,-0.05164,...,-0.478886,-0.057719,-0.05164,-0.05164,-0.071295,-0.05164,-0.063621,-0.05164,-0.068713,-0.103745
45,13,Yes,MUT,3,-0.05164,-0.073125,-0.05164,-0.05164,-0.05164,-0.05164,...,-0.478886,-0.057719,-0.05164,-0.05164,-0.071295,-0.05164,-0.063621,-0.05164,-0.068713,-0.103745

### Rearrange datatable so that we have each mouse represented as a single row

In [204]:
full_table['Mouse ID'].astype(str).describe()

count     317
unique     28
top         8
freq       12
Name: Mouse ID, dtype: object

In [ ]:
full_table.pivoat_table()

In [ ]:
otu_by_mouse = full_table.groupby("Mouse ID")

In [ ]:
otu_by_mouse.get_group(3)

# Encode 'y' (labels)

In [ ]:
y_geno_any_mut = full_table['genotype']
y_geno_spc_mut = full_table['Genotype1']
geno_encoder = ppro.LabelEncoder()
y_geno_encoded_any = geno_encoder.fit_transform(y_geno_any_mut)
y_geno_encoded_spc = geno_encoder.fit_transform(y_geno_spc_mut)

# Encode 'X' (data)

## Combine (or not) the categorical and numerical data types for X

In [ ]:
X_cols_cat = list(full_table.columns[[2,7]].values)
X_cols_num = list(full_table.columns[10:])

In [ ]:
# X_cols_num

In [ ]:
# make the dummy variable columns for the original categorical data columns
# HOPEFULLY we dont run into colinearity issues
X_data_cat = pd.get_dummies(full_table[X_cols_cat].astype(str))

In [ ]:
X_data_cat

In [ ]:
# To avoid colinearity we remove one column from each class of categorical 
X_data_cat = X_data_cat[['Gender_F', 'Cage_943947', 'Cage_943948']]
X_data_cat

In [ ]:
# put all data columns together
X = pd.concat([X_data_cat,full_table[X_cols_num]],axis=1) # Accounting for Cages and Sex
# X = full_table[X_cols_num] # IGNORING Cages and Sex

In [ ]:
X.head()

In [ ]:
# pca = PCA(n_components=2, whiten=False)
pca = RandomizedPCA(n_components=2, whiten=False)


pca_t = pca.fit_transform(X,y_geno_encoded_spc)
top_n_comp = 2
print('explained_variance_ratio_ of top {num}: {val}'.format(num=top_n_comp,val=pca.explained_variance_ratio_[:top_n_comp].sum()))

pca_t_l = pandas_helpers.repandasify(array=pca_t, y_names=geno_encoder.inverse_transform(y_geno_encoded_spc), X_names=['PC {v_}'.format(v_=v+1) for v in range(len(pca_t[0]))])
print(pca_t_l)

In [ ]:
pca_t_l = pandas_helpers.repandasify(array=pca_t, y_names=geno_encoder.inverse_transform(y_geno_encoded_spc), X_names=['PC {v_}'.format(v_=v+1) for v in range(len(pca_t[0]))])

pca_t_l['geno'] = pca_t_l.index.values
pca_t_l = pca_t_l.reset_index(drop=True)
pca_t_l['Cage'] = full_table.Cage.astype(str)
pca_t_l['Sex'] = full_table.Gender
pca_t_l['Specific Genotype'] = full_table.Genotype1
# pca_t_l

In [ ]:
with sns.color_palette(sns.color_palette("hls", 2)):
    with sns.axes_style("white"):
        sns.lmplot(x='PC 1', y='PC 2', data=pca_t_l.append(pca_t_l.iloc[9,:]), #sns.lmplot(x='PC 1', y='PC 2', data=pca_t_l,
                   hue='Specific Genotype', palette=None,
                   fit_reg=False,
                   scatter_kws={'alpha':0.7}
                  );

# Feature Selection

## LogisticRegression method

- ran this a couple times manually and got varying numbers of features retained
- I decided to 
    - run it 100 times
    - count how frequently each feature is retained
    - keep the top X number of them

In [ ]:
rlgrg = RandomizedLogisticRegression(C=1, scaling=0.5, 
                                      sample_fraction=0.70, n_resampling=200, 
                                      verbose=False, normalize=False, 
                                      random_state=None, n_jobs=1, )
# rlgrg.fit(X_, y_)

In [ ]:
itr = 20
f_sel_db = feature_selection.consensus_top10pct_feature_selection(X=X, y=y_geno_encoded_spc,
                                                      clf=rlgrg, names=None, iters=itr)

In [ ]:
len(f_sel_db)

In [ ]:
sns.distplot([len(l) for l in f_sel_db.values()], kde=False)
plt.xlabel('number of times an OTU was retained');

### Look at the OTUs that were retained at least X times

In [ ]:
my_otus = feature_selection.process_retained_features(retained=f_sel_db, iters=itr)
my_otus.head()

In [ ]:
my_otus.tail()

In [ ]:
my_otus_ = my_otus.sort_values(by='avg_score', axis=0, ascending=False).query("""retention_rate > 0.75 """)
my_otus_ = my_otus_.query("""avg_score > 0.01 """)
my_otus_.shape

In [ ]:
my_otus_.head()

In [ ]:
my_otus_.tail()

In [ ]:
X_best = X[my_otus_.feature_names.values]
X_best.shape

In [ ]:
top_n_sorted_features = 10

# pca = PCA(n_components=2, whiten=False)
pca = RandomizedPCA(n_components=2, whiten=False)

pca_t = pca.fit_transform(X_best.iloc[:,:top_n_sorted_features],y_geno_encoded_spc)
top_n_comp = 2
print('explained_variance_ratio_ of top {num}: {val}'.format(num=top_n_comp,val=pca.explained_variance_ratio_[:top_n_comp].sum()))

pca_t_l = pandas_helpers.repandasify(array=pca_t, y_names=geno_encoder.inverse_transform(y_geno_encoded_spc), X_names=['PC {v_}'.format(v_=v+1) for v in range(len(pca_t[0]))])
print(pca_t_l)

In [ ]:
pca_t_l = pandas_helpers.repandasify(array=pca_t, y_names=geno_encoder.inverse_transform(y_geno_encoded_spc), X_names=['PC {v_}'.format(v_=v+1) for v in range(len(pca_t[0]))])

pca_t_l['geno'] = pca_t_l.index.values
pca_t_l = pca_t_l.reset_index(drop=True)
pca_t_l['Cage'] = full_table.Cage.astype(str)
pca_t_l['Sex'] = full_table.Gender
pca_t_l['Specific Genotype'] = full_table.Genotype1
# pca_t_l

In [ ]:
plot_alpha = 0.7

In [ ]:
with sns.color_palette(sns.color_palette("hls", 3)):
    with sns.axes_style("white"):
        sns.lmplot(x='PC 1', y='PC 2', data=pca_t_l.append(pca_t_l.iloc[9,:]), #sns.lmplot(x='PC 1', y='PC 2', data=pca_t_l,
                   hue='Specific Genotype', palette=None,
                   fit_reg=False,
                   scatter_kws={'alpha':plot_alpha}
                  );

# Write top 10 OTUs to file for Amy

In [ ]:
out_path = "/home/gus/MEGAsync/zim/main/BCH/Projects/Amy/2016-01-07_~_16s_data/top_10_OTUs_3_genotypes.xls"

In [ ]:
top_10 = my_otus_0_001.iloc[:10,:]
# top_10.to_excel(out_path,index=False,)

# Test crossvalidation results and preditions on reduced data

In [ ]:
X_reduced = X[top_10.feature_names.values.astype(str)]

In [ ]:
X_reduced

## split data into training and testing

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_reduced, y_geno_encoded_spc,
                                                    test_size=0.33, random_state=42,
                                                   )

In [ ]:
y_geno_encoded_spc

In [ ]:
X_reduced

## SVM classifier

In [ ]:
svc_param_grid = {'svc__C': 10. ** np.arange(-3, 3),
                  'svc__gamma': 10. ** np.arange(-3, 3)
                 }



svc_pipe = make_pipeline(SVC(kernel='linear', random_state=42))

# run the gridsearch to tune the hyper-parameters
svc_grid = GridSearchCV(svc_pipe, param_grid=svc_param_grid, cv=3)

svc_grid.fit(X_train, y_train)
print(svc_grid.best_params_)


# generate and plot confusion matrices
svc_cm = confusion_matrix(y_test,svc_grid.predict(X_test))

In [ ]:
# Non-normalized
model_assessment.plot_confusion_matrix(cm=svc_cm, labels=geno_encoder.classes_, cmap='Blues', title=None,
                 norm=False, context=None, annot=True);

In [ ]:
# Normalized
model_assessment.plot_confusion_matrix(cm=svc_cm, labels=geno_encoder.classes_, cmap='Blues', title=None,
                 norm=True, context=None, annot=True);

## RandomForest classifier

In [ ]:
rfst_param_grid = {'randomforestclassifier__n_estimators': np.arange(1,15,),
                   'randomforestclassifier__min_samples_leaf': np.arange(1,10,2)
                  }



rfst_pipe = make_pipeline(RandomForestClassifier(random_state=42,n_jobs=8))

# run the gridsearch to tune the hyper-parameters
rfst_grid = GridSearchCV(rfst_pipe, param_grid=rfst_param_grid, cv=3)


rfst_grid.fit(X_train, y_train)
print(rfst_grid.best_params_)


# generate and plot confusion matrices
rfst_cm = confusion_matrix(y_test,rfst_grid.predict(X_test))

In [ ]:
# Non-normalized
model_assessment.plot_confusion_matrix(cm=svc_cm, labels=geno_encoder.classes_, cmap='Blues', title=None,
                 norm=False, context=None, annot=True);

In [ ]:
# Normalized
model_assessment.plot_confusion_matrix(cm=svc_cm, labels=geno_encoder.classes_, cmap='Blues', title=None,
                 norm=True, context=None, annot=True);

## LogisticRegression classifier