In [2]:
# imports
import datetime as dt

import csv
import itertools
import os
import re

import pandas as pd
pd.options.display.max_rows = 1000
import numpy as np
import datetime as dt

import scipy

import munch

In [3]:
dump_new = "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/database_dump_for_MaryB/2014_excel_db.xls"
dump_old = "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/database_dump_for_MaryB/old_excel_db.xls"

## Load databases:

In [11]:
# Collect, concatenate, de-duplicate: OLD excel files from "uganda data" dropbox folder
%run "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/scripts/2015-03-24_looking_for_infections_in_old_files.py"

# Collect, concatenate, de-duplicate: 2014 excel files from "uganda data" dropbox folder
%run "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/scripts/gff_pandas_database.py"

/home/gus/anaconda2/envs/stack2/lib/python2.7/site-packages/pandas/core/indexing.py:499: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value
/home/gus/anaconda2/envs/stack2/lib/python2.7/site-packages/pandas/core/indexing.py:420: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

'provided_dataframes' contains refs to useful dataframes.
Main dataframe is dfp: and is only Gff.

/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/scripts/gff_pandas_database.py:330: DeprecationWarning: BaseException.message has been deprecated as of Python 2.6
  if 'NAN' in exc.message.upper():

In [12]:
village_id_map_path = "/home/gus/Dropbox/uganda_data/data_repos/field_data/locations/names/uganda_village_id_map.csv"

In [15]:
village_id_map = get_village_id_map(village_id_map_path)

In [17]:
provided_dataframes.keys()

['df_samples',
 'traps_gps_uganda',
 'villages_gps_uganda',
 'wolbachia_data_orig',
 'uganda',
 'df_tryps',
 'table_latlon']

In [20]:
df_samples.head()

,Date,General (Fly) Haplotype Group,Locality,Microsat. Group (Fly),Notes,PCR sample dilution,Sample Name,Sex,Specific (Fly) Haplotype Group,Wolbachia Screen,aliguot_n,aliquot_n,banked_sample_id,collection_date,collection_id,collection_id.1,curation_date,curator,food_state,id,internal_notes,internal_notes.1,lepA_PCR,lepA_PCR sample volume,lepA_Seq,life_stage,lon_PCR,lon_PCR sample volume,lon_Seq,mrsA_PCR,mrsA_PCR sample volume,mrsA_Seq,population,public_notes,sex,size,species_id,species_id.1,species_identification,species_identification_method_id,specimen_id,stoage,storage,submission_date,submitter,tissue,tube_num
0,6/x/2009,N,Palisa,3,A=amplified,1:5,BK09115,M,3,unk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FAIL,4,,NaN,,FAIL,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6/x/2009,N,Palisa,3,W=amplified weakly,1:5,BK09116,M,3,unk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,4,S,NaN,A,4,S,A,4,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6/x/2009,S,Palisa,3,"S=sequenced; if in red, should be resequenced;...",1:5,BK09117,M,2,unk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,4,S,NaN,A,4,S,A,4,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-03-01 00:00:00,N,Bungahzi,3,F=sequence failure,1:10,BN2.2,F,3,groeL w+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2,S,NaN,A,2,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-03-01 00:00:00,N,Bungahzi,3,,1:10,BN2.3,F,3,groeL +,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2,S,NaN,W,2,S,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfp.head()

# Write old and 2014 files

In [21]:
dfp.to_excel(excel_writer=dump_new, index=True)

df_samples.to_excel(excel_writer=dump_old, index=True)

,Comment,Date,Dead,Fly_Number,Hunger_stage,Kept_in,Sex,Species,Teneral,Trap_No,Village,Wing_fray,infection_state,midgut,prob,sal_gland,workbook,worksheet
0,NaN,2014-07-22,False,1,2,EtOH,F,Gff,False,1,UWA,2,False,False,False,False,2014_spring_summer_from_rob.xlsx,Dissection Data-Nwoya
1,NaN,2014-07-22,False,2,3,EtOH,F,Gff,False,1,UWA,2,False,False,False,False,2014_spring_summer_from_rob.xlsx,Dissection Data-Nwoya
2,NaN,2014-07-22,False,3,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False,2014_spring_summer_from_rob.xlsx,Dissection Data-Nwoya
3,NaN,2014-07-22,False,4,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False,2014_spring_summer_from_rob.xlsx,Dissection Data-Nwoya
4,NaN,2014-07-22,False,5,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False,2014_spring_summer_from_rob.xlsx,Dissection Data-Nwoya