# Purpose:

2015-02-16 (Monday)

Generate code to import and summarize collection field records in pandas while the real DB is being finished.

# Implementation:

## Imports:

In [1]:
# imports
import csv
import itertools

import pandas as pd
import numpy as np

import munch

from tribool import Tribool

In [2]:
# for plotting
import ggplot as g

## File paths:

In [3]:
# define paths to files
spring_summer = "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/collection_data/2014_spring_summer_from_rob.xlsx"
fall =          "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/collection_data/2014_fall_for_pandas.xlsx"


h5_out_path = "/home/gus/Documents/YalePostDoc/project_stuff/g_f_fucipes_uganda/collection_data/hdf5/2014_collection_records.h5"

In [4]:
village_id_map_path = "/home/gus/Dropbox/uganda_data/data_repos/field_data/locations/names/uganda_village_id_map.csv"

----
# Helper functions

In [5]:
def get_village_id_map(village_id_map_path):
    """
    Generates and returns a `dict` mapping the long-form village names to the letter codes.
    Letter codes map back to themselves to ensure a one way mapping.  
    Enforces both be all UPPERcase to allow case insensitivity as long as
    the map is used like: `map[text.upper()]`.
    :return: `dict`
    """

    village_id_map = {}

    with open(village_id_map_path, 'rb') as csv_file:
        village_ids = csv.reader(csv_file, delimiter=',')
        for pair in village_ids:
            village_id_map[unicode(pair[0].upper())] = unicode(pair[0].upper())
            village_id_map[unicode(pair[1].upper())] = unicode(pair[0].upper())

    return village_id_map

In [6]:
def load_xl_sheets(xl_path):
    dfs = munch.Munch()
    
    xls = pd.ExcelFile(xl_path)
    
    for sheet in xls.sheet_names:
        if sheet.upper().startswith("DISSECT"):
            dfs[sheet] = xls.parse(sheetname=sheet, 
                                header=0, 
                                skiprows=None, skip_footer=0, 
                                index_col=None, parse_cols=None, 
                                parse_dates=False, date_parser=None, 
                                na_values=['NA'], 
                                thousands=None, chunksize=None, 
                                convert_float=False, 
                                has_index_names=False, converters=None)
    return dfs

In [7]:
def recode_villages(df):
    map_func = lambda x: village_id_map[x.upper()]
        
    new_codes = df.Village.apply(map_func)
    df.Village = new_codes

In [100]:
def recode_dead(df):
    def recode_func(x):
        # this is treated as an unknown case
        if pd.isnull(x):
            return x

        x = unicode(x)

        # True means DEAD
        # False means LIVE or NOT-DEAD
        # None means unknown

        try:
            # deal with Live type cases
            if x.upper().startswith('L'):
                return False


            if x.startswith('0'):
                return False


            # deal with Dead type cases
            if x.upper().startswith('D'):
                return True


            if x.startswith('1'):
                return True


            # deal with unknown type cases
            if x.upper().startswith('UN'):
                return None
        except AttributeError:
            return x

        msg = "The value {x} was not expected and this function must be corrected to continue.".format(x=x)
        raise ValueError(msg)

    new_dead = df.Dead.apply(recode_func)
    df.Dead = new_dead

##########################################

def recode_teneral(df):
    def recode_func(x):

        # this is treated as an unknown case
        if pd.isnull(x):
            return x

        x = unicode(x)

        # True means teneral
        # False means NOT-teneral
        # None means unknown

        try:
            # deal with NOT-teneral type cases
            if x.upper().startswith('N'):
                return False

            if x.startswith('0'):
                return False

            # deal with Teneral type cases
            if x.upper().startswith('T'):
                return True
            
            if x.startswith('1'):
                return True


            # Deal with unknown type cases
            if x.upper().startswith('UN'):
                return x
        except AttributeError:
            return x

        msg = "The value {x} was not expected and this function must be corrected to continue.".format(x=x)
        raise ValueError(msg)
    
    
    new_teneral = df.Teneral.apply(recode_func)
    df.Teneral = new_teneral

##########################################

def recode_positives(df):
    def recode_func(x):
        # this is treated as an unknown case
        if pd.isnull(x):
            return x

        y = unicode(x)

        # deal with Unknown type cases
        if y.upper().startswith('UN'):
            return None

        if y.upper().startswith('DEAD'):
            return None


        # deal with Positive type cases
        if y.startswith('1'):
            return True


        if y.upper().startswith('TRUE'):
            return True

        if y.upper().startswith('P'):
            return True

        if y.upper().startswith('Y'):
            return True


        # deal with Negative type cases
        if y.upper().startswith('NO'):
            return False

        if y.upper().startswith('FALSE'):
            return False


        if y.startswith('0'):
            return False


        msg = "The value {x} was not expected and this function must be corrected to continue.".format(x=x)
        raise ValueError(msg)


    new_prob = df.prob.apply(recode_func)
    df.prob = new_prob
    
    new_midgut = df.midgut.apply(recode_func)
    df.midgut = new_midgut
    
    new_sal_gland = df.sal_gland.apply(recode_func)
    df.sal_gland = new_sal_gland

##########################################

def recode_species(df):

    recode_func = lambda x: ''.join(x.split('.')).capitalize()

    new_Species = df.Species.apply(recode_func)
    df.Species = new_Species

##########################################

def recode_sex(df):

    recode_func = lambda x: x.upper()

    new_Sex = df.Sex.apply(recode_func)
    df.Sex = new_Sex

In [101]:
def aggregate_column_from_df_list(df_list, col_name):
    agg_data = []
    for df in df_list:
        agg_data.extend(list(df[col_name]))
        
    
    return agg_data

### Functions that add new columns

In [102]:
def add_infection_state_col(df):
    
    df['infection_state'] = df[['prob','midgut','sal_gland']].any(skipna=True,axis=1)

----
# Helpful constants

In [103]:
village_id_map = get_village_id_map(village_id_map_path)

In [104]:
spring_summer_dfs = load_xl_sheets(spring_summer)
fall_dfs = load_xl_sheets(fall)

In [105]:
fall_dfs.values()[0].head(2)

,Village,Trap_No,Date,Species,Sex,Teneral,Dead,Fly_Number,Hunger_stage,prob,midgut,sal_gland,Wing_fray,Kept_in,Comment
0,Kitgum town council,1,2014-10-08,Gff,M,T,NaN,1,NaN,0,0,0,NaN,Ethanol,NaN
1,Kitgum town council,1,2014-10-08,Gff,M,NT,NaN,2,3,0,0,0,2,Ethanol,NaN

In [106]:
# pdb

In [107]:
# list all dfs and run our recoder's so far
df_all = spring_summer_dfs.values() + fall_dfs.values()

for df in df_all:
    recode_sex(df)
    recode_species(df)
    recode_villages(df)
    recode_positives(df)
    recode_dead(df)
    recode_teneral(df)
    add_infection_state_col(df)

In [108]:
df.head()

,Village,Trap_No,Date,Species,Sex,Teneral,Dead,Fly_Number,Hunger_stage,prob,midgut,sal_gland,Wing_fray,Kept_in,Comment,infection_state
0,LAG,13,2014-10-12,Gff,F,False,NaN,1,3,False,False,False,2,ethanol,NaN,False
1,LAG,13,2014-10-12,Gff,F,False,NaN,2,2,False,False,False,2,ethanol,NaN,False
2,LAG,13,2014-10-12,Gff,F,False,NaN,3,2,False,False,False,3,ethanol,NaN,False
3,LAG,12,2014-10-12,Gff,M,False,NaN,4,3,False,False,False,2,ethanol,NaN,False
4,LAG,12,2014-10-12,Gff,F,False,NaN,5,1,False,False,False,3,ethanol,NaN,False

In [109]:
df_all[2].head()

,Village,Trap_No,Date,Species,Sex,Teneral,Dead,Fly_Number,Hunger_stage,Wing_fray,prob,midgut,sal_gland,Kept_in,Comment,infection_state
0,GOR,2,2014/07/27,Gff,F,False,False,GOR-14 001,2,2,False,False,False,EtOH,NaN,False
1,GOR,2,2014/07/27,Gff,F,False,False,GOR-14 002,2,2,False,False,False,EtOH,NaN,False
2,GOR,2,2014/07/27,Gff,M,False,False,GOR-14 003,3,2,False,False,False,EtOH,NaN,False
3,GOR,2,2014/07/27,Gff,F,False,False,GOR-14 004,3,2,False,False,False,EtOH,NaN,False
4,GOR,2,2014/07/27,Gff,F,False,False,GOR-14 005,2,2,False,False,False,EtOH,NaN,False

In [110]:
(df_all[2].prob | df_all[2].midgut | df_all[2].sal_gland).sum()

0

In [111]:
prob_all = aggregate_column_from_df_list(df_all, 'prob')

prob_all.count(True)

0

In [112]:
midgut_all = aggregate_column_from_df_list(df_all, 'midgut')

midgut_all.count(True)

51

In [113]:
sal_gland_all = aggregate_column_from_df_list(df_all, 'sal_gland')

sal_gland_all.count(True)

1

In [114]:
infection_state_all = aggregate_column_from_df_list(df_all, 'infection_state')

infection_state_all.count(True)

51

---
# Combine dataframes to one for ruling

In [115]:
df_big = pd.concat(df_all)

In [116]:
len(df_big)

5335

In [117]:
df_big.head()

,Comment,Date,Dead,Fly_Number,Hunger_stage,Kept_in,Sex,Species,Teneral,Trap_No,Village,Wing_fray,infection_state,midgut,prob,sal_gland
0,NaN,2014/07/22,False,UWA-14 001,2,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
1,NaN,2014/07/22,False,UWA-14 002,3,EtOH,F,Gff,False,1,UWA,2,False,False,False,False
2,NaN,2014/07/22,False,UWA-14 003,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
3,NaN,2014/07/22,False,UWA-14 004,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False
4,NaN,2014/07/22,False,UWA-14 005,3,EtOH,M,Gff,False,1,UWA,2,False,False,False,False

---
# Pivot this table

In [121]:
table = pd.pivot_table(df_big.query('Species == ["Gff"]'),index=['Village','Sex','Hunger_stage'],
                      values=['Count'],
                      columns=['infection_state'],
                      fill_value=0,
                      aggfunc=[len])
table

                            len
infection_state           False True
Village Sex Hunger_stage
ABO     M   3.0               2     0
ACA     F   1.0              20     1
            2.0             147     8
            3.0             128     1
        M   2.0              15     1
            3.0              51     1
AG      F   1.0               1     0
            2.0               5     0
            3.0               9     0
AIN     F   1.0               4     0
            2.0              37     0
            3.0              36     0
            4.0               4     0
        M   2.0               4     0
            3.0              22     0
AKA     F   1.0              12     0
            2.0             149     2
            3.0              52     1
        M   2.0              33     2
            3.0              18     0
ALE     F   2.0               4     0
            3.0               5     0
        M   2.0               2     0
            3.0              14     0
ALI     F   1.0               2     0
            2.0              16     0
        M   2.0               1     0
            3.0               3     0
APU     F   1.0               4     0
            2.0              68     1
...                         ...   ...
ORV     F   3.0               3     0
            4.0               2     0
        M   3.0               5     0
OSG     F   1.0               2     0
            2.0              23     0
            3.0              21     0
            4.0               1     0
        M   2.0               4     0
            3.0              11     0
PAW     F   1.0               1     0
            2.0               7     0
        M   3.0               1     0
TEO     F   not dissected     1     0
TUM     F   1.0               4     0
            2.0              10     1
            3.0               3     0
        M   2.0               5     0
            3.0               3     0
UWA     F   1.0              18     0
            2.0              73     1
            3.0              97     1
        M   1.0               1     0
            2.0              24     0
            3.0              49     1
WEN     F   1.0               1     0
            2.0              17     0
            3.0              14     0
            4.0               1     0
        M   2.0               1     0
            3.0               5     0

[192 rows x 2 columns]

In [94]:
table

                                     len
Sex                                    F    M  m
Village Date                Species
ABO     21/05/14            Gff        0    5  0
        22/05/14            Gff        2    2  0
ACA     18/5/2014           Gff       11    9  0
        20/05/14            Gff       70   75  0
        2014/07/16          Gff       57   43  0
        2014/07/17          Gff       28   16  0
        2014/07/18          Gff      100   75  0
        2014/07/19          Gff       49   25  0
        2014/07/20          Gff      100   55  0
        21/05/14            Gff       43    8  0
        22/05/14            Gff       64   21  0
AG      20/05/14            Gff       10    5  0
        21/05/14            Gff        9    0  0
        22/05/14            Gff       17    0  0
AIN     2014/06/23          Gff       30   22  0
        2014/06/24          Gff       45   27  0
        2014/06/25          Gff       25   24  0
AKA     2014/03/23          Gff       21   12  0
        2014/03/24          Gff       33   28  0
        2014/03/25          Gff       29    8  0
        2014/07/16          Gff       51   25  0
        2014/07/17          Gff       32   14  0
        2014/07/18          Gff       86   44  0
        2014/07/19          Gff       27    6  0
        2014/3/23           Gff       59   61  1
ALE     18/5/2014           Gff        5   11  0
        19/5/2014           Gff        6   14  0
        20/05/14            Gff        4    4  0
ALI     2014/06/23          Gff        4    0  0
        2014/06/24          Gff        2    0  0
...                                  ...  ... ..
TEO     16/07/26            Gpd        1    0  0
        17/07/26            Gm         1    0  0
        18/07/26            Gm         1    0  0
        19/07/26            Gm         0    1  0
        20/07/26            Gm         1    0  0
        2014/07/26          Gpd        1    0  0
        21/07/26            Gm         1    0  0
        22/07/26            Gm         1    0  0
        23/07/26            Gm         1    0  0
        24/07/26            Gpd        1    0  0
        25/07/26            Gm         0    1  0
        26/07/26            Gm         0    1  0
        27/07/26            Gm         0    1  0
        28/07/26            Gm         0    1  0
        29/07/26            Gpd        1    0  0
        30/07/26            Gpd        1    0  0
        31/07/26            Gpd        1    0  0
        32/07/26            Gff        1    0  0
TUM     2014-10-09 00:00:00 Gff        5    1  0
        2014-10-10 00:00:00 Gff       12   11  0
        2014-10-11 00:00:00 Gff       10    3  0
UWA     2014/07/22          Gff      120  108  0
                            Gpd        6    6  0
        2014/07/23          Gff      197  125  0
                            Gpd       16   22  0
        2014/07/24          Gff      120   58  0
                            Gpd       15    6  0
        22/O7/2014          Gff        0    1  0
WEN     2014/06/25          Gff       32   21  0
        2014/6/26           Gff       33   15  0

[162 rows x 3 columns]